{% extends 'base_menu.html.twig' %}

{% block head %}
    {{ parent() }}
        <link rel="stylesheet" href="{{ asset('template/build/css/custom2.css')}} ">
<script>
function ocultarMensajes(){
    setTimeout(function() {
      $('.alert').hide()
    }, 3500);
  }
function f1(){
    $('.f2').removeClass('hidden');
    $('.f1').addClass('hidden');
    $('.f3').addClass('hidden');
}
function f2(){
    $('.f1').removeClass('hidden');
    $('.f2').addClass('hidden');
    $('.f3').addClass('hidden');
}
function f3(){
    $('.f3').removeClass('hidden');
    $('.f2').addClass('hidden');
    $('.f1').addClass('hidden');
}

function enviarFormularioRecordar(){
    var email = $('#email').val();
    if(email != ''){
        $('#formulario2').attr('action', '/recuperarPassword/'+email);
        $('#formulario2').submit();
    }
    else{
        $('.mensaje').append( '<div class="alert alert-danger " role="alert"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Email no puede estar vacío. </div>');
            ocultarMensajes();
    }

}
function enviarFormularioRegistro(){
    var email = $('#email2').val();
    var nombre_usuario = $('#nombre_usuario').val();
    var pass = $('#pass').val();
    var nombre = $('#nombre').val();
    var apellidos = $('#apellidos').val();
    var telefono = $('#telefono').val();

    if(email != '' ||  nombre_usuario != '' || pass != '' || nombre != '' || apellidos != '' || telefono != '' ){
        $('#formulario3').attr('action', '/registro');
        $('#formulario3').submit();
    }
    else{
        $('.mensaje').append( '<div class="alert alert-danger " role="alert"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Asegurese de introducir todos los campos obligatorios. </div>');
            ocultarMensajes();
    }

}
</script>
{% endblock %}

{#{% block stylesheets %}
    {{ parent() }}
<link rel="stylesheet" href="{{ asset('css/custom.css')}} ">
{% endblock %}#}

{% block classBody %}class="login_body"{% endblock %}


{% block body %}

<div class="">
    <a class="hiddenanchor" id="toregister"></a>
    <a class="hiddenanchor" id="tologin"></a>
    <div id="wrapper" style="max-width: 380px;">
        <div id="login" class="animate form">
        <div class="mensaje">

            {%  if mensaje is defined %}

                    {%  if mensaje == 'RESTAURADA' %}
                                  <div class="alert alert-success alert-dismissible">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                    <h4><i class="icon fa fa-check"></i> Recuperar password</h4>
                                    Se ha enviado la nueva contraseña a su email.
                                  </div>

                    {%  elseif mensaje == 'USUARIO CREADO' %}
                                  <div class="alert alert-success alert-dismissible">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                    <h4><i class="icon fa fa-check"></i> Registro correcto</h4>
                                    Se ha registrado correctamente.
                                  </div>
                    {% elseif mensaje == 'USUARIO NO CREADO' %}
                                  <div class="alert alert-danger alert-dismissible">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                    <h4><i class="icon fa fa-ban"></i> Error!</h4>
                                    No se ha podido registrar el usuario, asegurese de haber introducido correctamente los datos.
                                  </div>
                    {% elseif mensaje == 'USUARIO EXISTE' %}
                                  <div class="alert alert-danger alert-dismissible">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                    <h4><i class="icon fa fa-ban"></i> Error!</h4>
                                    No se ha podido registrar el usuario, nombre de usuario ya existe.
                                  </div>
                    {% elseif mensaje == 'EMAIL EXISTE' %}
                                  <div class="alert alert-danger alert-dismissible">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                    <h4><i class="icon fa fa-ban"></i> Error!</h4>
                                    No se ha podido registrar el usuario, el email ya existe.
                                  </div>
                    {% elseif mensaje == 'NO RESTAURADA' %}
                                  <div class="alert alert-danger alert-dismissible">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                    <h4><i class="icon fa fa-ban"></i> Error!</h4>
                                    No se ha podido restaurar la contraseña, asegurese de haber introducido correctamente los datos.
                                  </div>
                    {%  endif %}


            {%  endif  %}
</div>

            <section class="login_content f1">
                {% if error %}
            		<div class="alert alert-danger " role="alert"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>  {{ error.messageKey|trans(error.messageData, 'security') }}</div>
				{% endif %}
                <form action="{{ path('login_check') }}" method="post" id="formularo1">
                   <h1 class="h1_login_administrador">Login UPO Rate</h1>

                      <div class="form-group has-feedback f1" >
                        <input type="text" class="form-control" placeholder="Usuario" id="username" name="_username" value="{{ last_username }}" required="required" autocomplete="username">
                        <span class="glyphicon glyphicon-user form-control-feedback"></span>
                      </div>

                      <div class="form-group has-feedback f1">
                        <input type="password" class="form-control" placeholder="Contraseña" id="password" name="_password" required="required" autocomplete="current-password" >
                        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                      </div>

                    <div>
                    <button type="reset"  onclick="f3()">{% trans %}Registrarse{% endtrans %}</button>
                        <button type="reset"  class="f1" onclick="f1()">Recuperar Password</button>
                       {# <button type="reset"  class="f2 hidden" onclick="f2()">Volver al Login</button>#}
                    	<button type="submit">Enviar</button>
                    </div>
                  {# <div class="text-center"><a href="{{ path('formulario_registro', { 'tipo': 'registro'} ) }}">{% trans %}Registrarse{% endtrans %}</a></div>
                  #}



                    <div class="clearfix"></div>
                    <div class="separator">
                        <div class="clearfix"></div>
                        <br />
                    </div>
                </form>
                <!-- form -->
            </section>
            <!-- content -->


            <section class="login_content f2 hidden">
                {% if error %}
                    <div class="alert alert-danger " role="alert"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>  {{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
                <form action="{{ path('recuperar_password', { 'email': 'aljsbgj'} ) }}" method="post" id="formulario2">
                   <h1 class="h1_login_administrador">Recordar password</h1>

                      <div class="form-group has-feedback ">
                        <input type="email" class="form-control" placeholder="Email" id="email"  required="required">
                        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                      </div>
                    <div>
                        <button type="reset"  class="f1" onclick="f1()">Recuperar Password</button>
                        <button type="reset"  class="f2 hidden" onclick="f2()">Volver al Login</button>
                        <button type="reset" onclick="enviarFormularioRecordar()">Enviar</button>

                    </div>
                  {# <div class="text-center"><a href="{{ path('formulario_registro', { 'tipo': 'registro'} ) }}">{% trans %}Registrarse{% endtrans %}</a></div>
                  #}

                    <div class="clearfix"></div>
                    <div class="separator">
                        <div class="clearfix"></div>
                        <br />
                    </div>
                </form>
                <!-- form -->
            </section>

            <section class="login_content f3 hidden">
                {% if error %}
                    <div class="alert alert-danger " role="alert"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>  {{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                <form action="{{ path('formulario_registro') }}" method="post" id="formulario3">
                   <h1 class="h1_login_administrador">Registro Usuario</h1>

                      <div class="form-group has-feedback ">
                        <input type="text" class="form-control" placeholder="Nombre usuario *" id="nombre_usuario" name="nombre_usuario" required="required">
                        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                      </div>

                      <div class="form-group has-feedback ">
                        <input type="pass" class="form-control" placeholder="Password *" id="pass" name="pass" required="required">
                        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                      </div>
                      <div class="form-group has-feedback ">
                        <input type="text" class="form-control" placeholder="Nombre *" id="nombre" name="nombre"  required="required">
                        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                      </div>
                      <div class="form-group has-feedback ">
                        <input type="text" class="form-control" placeholder="Apellidos *" id="apellidos" name="apellidos" required="required">
                        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                      </div>
                      <div class="form-group has-feedback ">
                        <input type="email" class="form-control" placeholder="Email *" id="email2" name="email2"  required="required">
                        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                      </div>
                      <div class="form-group has-feedback ">
                        <input type="text" name"telefono" class="form-control" placeholder="Telefono" id="telefono" >
                        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                      </div>

                    <div>
                        <button type="reset"  class="f3" onclick="f2()">Volver al login</button>

                        <button type="reset" onclick="enviarFormularioRegistro()">Enviar</button>

                    </div>

                    <div class="clearfix"></div>
                    <div class="separator">
                        <div class="clearfix"></div>
                        <br />
                    </div>
                </form>
                <!-- form -->
            </section>
        </div>
    </div>
</div>

{% endblock %}
