{% extends 'base_menu.html.twig' %}


{% block title %}{% trans %}Editar usuario{% endtrans %}{% endblock %}


{% block cabecera %}{% trans %}Editar usuario {% endtrans %}<small>{% trans %}Inserte los datos{% endtrans %}:</small>  {% endblock %}

{% block pageContent %}

        <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>{% trans %}Editar usuario{% endtrans %}</h3>
              </div>

                <form action="{{ path('buscar_general')}}">
                  <div class="title_right">
                    <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                      <div class="input-group">

                          <input type="text" name="busqueda" class="form-control" placeholder="{% trans %}Buscar por{% endtrans %}...">
                          <span class="input-group-btn">
                            <button class="btn btn-default" type="submit" >{% trans %}Buscar{% endtrans %}</button>
                          </span>

                      </div>
                    </div>
                  </div>
                </form>
            </div>
            <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>{% trans %}Formulario {% endtrans %} <small>{% trans %}Editar Usuario{% endtrans %}</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <!-- Opciones superior derecha-->
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#">Settings 1</a>
                          </li>
                          <li><a href="#">Settings 2</a>
                          </li>
                        </ul>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
<!-- <form class="form-horizontal form-label-left" novalidate>  -->
					{#{ form_start(form, { 'enctype':"multipart/form-data",  'attr' : {'role' : 'form', 'class': 'form-label-left',novalidate: 'novalidate'} }) }#}
					{{ form_start(form, { 'enctype':"multipart/form-data",  'attr' : {'role' : 'form'} }) }}

						<div class="form-group">
							{{ form_label(form.username)}}
							 {{ form_widget(form.username, { 'attr': {'class': 'form-control'} }) }}
							<span class="text-danger">{{ form_errors(form.username)}}</span>
						</div>
						<div class="form-group ">
							{{ form_label(form.password)}}
							 {{ form_widget(form.password, { 'attr': {'class': 'form-control'} }) }}
							<span class="text-danger">{{ form_errors(form.password)}}</span>
						</div>
						<div class="form-group">
							{{ form_label(form.nombre)}}
							 {{ form_widget(form.nombre, { 'attr': {'class': 'form-control'} }) }}
							<span class="text-danger">{{ form_errors(form.nombre)}}</span>
						</div>
						<div class="form-group">
							{{ form_label(form.apellidos)}}
							 {{ form_widget(form.apellidos, { 'attr': {'class': 'form-control'} }) }}
							<span class="text-danger">{{ form_errors(form.apellidos)}}</span>
						</div>
						<div class="form-group">
							{{ form_label(form.email)}}
							 {{ form_widget(form.email, { 'attr': {'class': 'form-control'} }) }}
							<span class="text-danger">{{ form_errors(form.email)}}</span>
						</div>
						<div class="form-group">
							{{ form_label(form.telefono)}}
							 {{ form_widget(form.telefono, { 'attr': {'class': 'form-control'} }) }}
							<span class="text-danger">{{ form_errors(form.telefono)}}</span>
						</div>
						<div class="form-group">
						    <label for="Rol">Rol</label>
			                		<select name="roles"  class="form-control select2" data-placeholder="Seleccione un rol" style="width: 100%;" required="">
			                		<option></option>
        						<option value="ROLE_ALU">Alumno</option>
        						<option value="ROLE_PROFI">Prefosor interno</option>
        						<option value="ROLE_PROFE">Profesor externo</option>
        						<option value="ROLE_ADMIN">Administrador</option>
			                		</select>
						</div>

                      <div class="ln_solid"></div>
					<!--  Aceptar y Reset en la misma línea  -->
					<div class="btn-toolbar" role="toolbar">
					  <div class="btn-group">
						<div class="btn pull-right">
							 {{ form_widget(form.reset)}}
							<span class="text-danger">{{ form_errors(form)}}</span>
						</div>
					  </div>
						<div class="btn pull-left">
							 {{ form_widget(form.aceptar)}}
							<span class="text-danger">{{ form_errors(form)}}</span>
						</div>
					</div><!-- # FIN Aceptar y Reset -->
						{{ form_end(form) }}

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- page content -->

{% endblock %}

