{% extends 'base_menu.html.twig' %}
{% block title %} {% trans %}Mostrar usuarios{% endtrans %}{% endblock %}
{% block head %}
  {{ parent() }}
{#<script>
function funcion(){

    setTimeout(function() {
      $('.alert').hide()
    }, 3500);
  }
</script>#}
<style>
.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url("{{ asset('imagenes/loading.gif') }}") 50% 50% no-repeat rgb(249,249,249);
    opacity: .8;
}
</style>
{% endblock %}
{% block pageContent %}
  <div class="loader"></div>  {# loader #}
        <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>{% trans %}Usuarios{% endtrans %}</h3>
              </div>
                <form action="{{ path('buscar_general')}}">
                  <div class="title_right">
                    <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                      <div class="input-group">

                          <input type="text" name="busqueda" class="form-control" placeholder="{% trans %}Buscar por{% endtrans %}...">
                          <span class="input-group-btn">
                            <button class="btn btn-default" type="submit" >{% trans %}Buscar{% endtrans %}</button>
                          </span>

                      </div>
                    </div>
                  </div>
                </form>
            </div>

            <div class="clearfix"></div>
             {% block mensajes %}
              {{ parent() }}
              {% endblock %}
            <div class="row">
              <div class="col-md-12">
                <div class="x_panel">
                  <div class="x_content">
                    <div class="row">
                      <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                        <ul class="pagination pagination-split">
                          <a href="{{ path('buscar_usuario_letra', {'letra': 'admin'})}}" class="btn btn-danger btn-md" role="button">Admin</a>
                          <a href="{{ path('buscar_usuario_letra', {'letra': 'alumno'})}}" class="btn btn-success btn-md" role="button">{% trans %}Alumno{% endtrans %} </a>
                          <a href="{{ path('buscar_usuario_letra', {'letra': 'externo'})}}" class="btn btn-info btn-md" role="button">{% trans %}Profesor Externo{% endtrans %}</a>
                          <a href="{{ path('buscar_usuario_letra', {'letra': 'interno'})}}" class="btn btn-warning btn-md" role="button">{% trans %}Profesor Interno{% endtrans %}</a>
                          <a href="{{ path('buscar_usuario_letra', {'letra': 'All'})}}" class="btn btn-default btn-md" role="button">{% trans %}Todos{% endtrans %}</a>
                        </ul>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                        <ul class="pagination pagination-split">
                          <li><a href="{{ path('buscar_usuario_letra', {'letra': 'A'})}}">A</a></li>
                          <li><a href="{{ path('buscar_usuario_letra', {'letra': 'B'})}}">B</a></li>
                          <li><a href="{{ path('buscar_usuario_letra', {'letra': 'C'})}}">C</a></li>
                          <li><a href="{{ path('buscar_usuario_letra', {'letra': 'D'})}}">D</a></li>
                          <li><a href="{{ path('buscar_usuario_letra', {'letra': 'E'})}}">E</a></li>
                          <li><a href="{{ path('buscar_usuario_letra', {'letra': 'F'})}}">F</a></li>
                          <li><a href="{{ path('buscar_usuario_letra', {'letra': 'G'})}}">G</a></li>
                          <li><a href="{{ path('buscar_usuario_letra', {'letra': 'H'})}}">H</a></li>
                          <li><a href="{{ path('buscar_usuario_letra', {'letra': 'I'})}}">I</a></li>
                          <li><a href="{{ path('buscar_usuario_letra', {'letra': 'J'})}}">J</a></li>
                          <li><a href="{{ path('buscar_usuario_letra', {'letra': 'K'})}}">K</a></li>
                          <li><a href="{{ path('buscar_usuario_letra', {'letra': 'L'})}}">L</a></li>
                          <li><a href="{{ path('buscar_usuario_letra', {'letra': 'M'})}}">M</a></li>
                          <li><a href="{{ path('buscar_usuario_letra', {'letra': 'N'})}}">N</a></li>
                          <li><a href="{{ path('buscar_usuario_letra', {'letra': 'Ñ'})}}">Ñ</a></li>
                          <li><a href="{{ path('buscar_usuario_letra', {'letra': 'O'})}}">O</a></li>
                          <li><a href="{{ path('buscar_usuario_letra', {'letra': 'P'})}}">P</a></li>
                          <li><a href="{{ path('buscar_usuario_letra', {'letra': 'Q'})}}">Q</a></li>
                          <li><a href="{{ path('buscar_usuario_letra', {'letra': 'R'})}}">R</a></li>
                          <li><a href="{{ path('buscar_usuario_letra', {'letra': 'S'})}}">S</a></li>
                          <li><a href="{{ path('buscar_usuario_letra', {'letra': 'T'})}}">T</a></li>
                          <li><a href="{{ path('buscar_usuario_letra', {'letra': 'U'})}}">U</a></li>
                          <li><a href="{{ path('buscar_usuario_letra', {'letra': 'W'})}}">W</a></li>
                          <li><a href="{{ path('buscar_usuario_letra', {'letra': 'X'})}}">X</a></li>
                          <li><a href="{{ path('buscar_usuario_letra', {'letra': 'Y'})}}">Y</a></li>
                          <li><a href="{{ path('buscar_usuario_letra', {'letra': 'Z'})}}">Z</a></li>
                          <li><a href="{{ path('buscar_usuario_letra', {'letra': 'All'})}}">{% trans %}Todos{% endtrans %}</a></li>
                        </ul>
                      </div>
                      <div class="clearfix"></div>
{% if usuarios|length == 0 %}
    <div class="text-center"><h3> {% trans %}SIN RESULTADOS{% endtrans %}</h3></div>
{% endif %}
                    {% for usuario in usuarios %}

                       {% if usuario.roles[0] is defined %}
                        {% if usuario.roles[0] == 'ROLE_ADMIN'  %}
                          {% set claseBtn = 'btn btn-danger btn-xs' %}
                          {% set nomRol = 'Admin' %}
                         {% elseif usuario.roles[0] == 'ROLE_ALU' %}
                            {% set claseBtn = 'btn btn-success btn-xs' %}
                            {% set nomRol = 'Alumno' %}
                         {% elseif usuario.roles[0] == 'ROLE_PROFE' %}
                           {% set claseBtn = 'btn btn-info btn-xs' %}
                            {% set nomRol = 'Externo' %}
                         {% elseif usuario.roles[0] == 'ROLE_PROFI' %}
                           {% set claseBtn = 'btn btn-warning btn-xs' %}
                            {% set nomRol = 'Interno' %}
                        {% endif %}
                      {% else %}
                        {% if usuario.roles == 'ROLE_ADMIN'  %}
                          {% set claseBtn = 'btn btn-danger btn-xs' %}
                          {% set nomRol = 'Admin' %}
                         {% elseif usuario.roles == 'ROLE_ALU' %}
                            {% set claseBtn = 'btn btn-success btn-xs' %}
                            {% set nomRol = 'Alumno' %}
                         {% elseif usuario.roles == 'ROLE_PROFE' %}
                           {% set claseBtn = 'btn btn-info btn-xs' %}
                            {% set nomRol = 'Externo' %}
                         {% elseif usuario.roles == 'ROLE_PROFI' %}
                           {% set claseBtn = 'btn btn-warning btn-xs' %}
                            {% set nomRol = 'Interno' %}
                        {% endif %}
                       {% endif %}


                      <div class="col-md-4 col-sm-4 col-xs-12 profile_details">
                        <div class="well profile_view">
                          <div class="col-sm-12">
                            <h4 class="brief text-center" style='color: #73879C;' ><i>{{ usuario.username }}</i></h4>
                            <div class="left col-xs-7">
                              <h2>{{ usuario.nombre }}  {{ usuario.apellidos }}</h2>
                              {% if  usuario.codigo is defined %}
                                    <p><strong>{{ usuario.codigo }}: </strong> {{ usuario.titulacion }} </p>
                              {% endif %}

                              <ul class="list-unstyled">
                                <li><i class="fa fa-envelope"></i> : {{ usuario.email }}</li>
                                <li><i class="fa fa-phone"></i> : {{ usuario.telefono }}</li>
                              </ul>
                            </div>
                            <div class="right col-xs-5 text-center">
                              <img src="{{ asset('imagenes/avatares/'~usuario.avatar~'') }}{#{ asset('template/build/images/img.jpg') }#}" alt="" class="img-circle img-responsive">
                            </div>
                          </div>
                          <div class="col-xs-12 bottom text-center">
                            <div class="col-xs-12 col-sm-6 emphasis">
                              <p class="ratings">
                                <a>{{ usuario.media }}</a>

                                {% for i in range(1, 5) %}
                                    {% if i <= usuario.media %}
                                        <a><span class="fa fa-star " ></span></a>
                                    {% else %}
                                          {% if i - usuario.media > 0.3  and  i - usuario.media < 0.7 %}
                                              <a><span class="fa fa-star-half-o" ></span></a>
                                          {% else %}
                                            <a><span class="fa fa-star-o" ></span></a>
                                          {% endif %}
                                    {% endif %}
                                {% endfor %}
                              {#  <a><span class="fa fa-star e1" ></span></a>
                                <a><span class="fa fa-star e1 e2"></span></a>
                                <a><span class="fa fa-star e1 e2 e3"></span></a>
                                <a><span class="fa fa-star e1 e2 e3 e4"></span></a>
                                <a><span class="fa fa-star e1 e2 e3 e3 e5"></span></a>#}
                              </p>
                            </div>
                            <div class="col-xs-12 col-sm-6 emphasis">

                              {#% if usuario.roles is defined %}
                                {% if usuario.roles == 'ROLE_ADMIN'  %}
                                  {% set claseBtn = 'btn btn-danger btn-xs' %}
                                  {% set nomRol = 'Admin' %}
                                {% elseif usuario.roles == 'ROLE_ALU' %}
                                  {% set claseBtn = 'btn btn-success btn-xs' %}
                                {% elseif usuario.roles == 'ROLE_PROFE' %}
                                  {% set claseBtn = 'btn btn-info btn-xs' %}
                                {% elseif usuario.roles == 'ROLE_PROFI' %}
                                  {% set claseBtn = 'btn btn-warning btn-xs' %}
                                {% endif %}
                               {% endif %#}

                               <button type="button" class="{{ claseBtn }}">{{ nomRol|trans }} </button>

                              {#% if usuario.roles == 'ROLE_ADMIN' or usuario.roles[0]  == 'ROLE_ADMIN'  %}
                                  <button type="button" class="{{ claseBtn }}">Admin </button>
                              {% elseif usuario.roles == 'ROLE_ALU' or usuario.roles[0]  == 'ROLE_ALU' %}
                                  <button type="button" class="btn btn-success btn-xs">{% trans %}Alumno{% endtrans %} </button>
                              {% elseif usuario.roles == 'ROLE_PROFE' or usuario.roles[0]  == 'ROLE_PROFE' %}
                                  <button type="button" class="btn btn-info btn-xs">{% trans %}Externo{% endtrans %} </button>
                              {% elseif usuario.roles == 'ROLE_PROFI' or usuario.roles[0]  == 'ROLE_PROFI' %}
                                  <button type="button" class="btn btn-warning btn-xs">{% trans %}Interno{% endtrans %}</button>
                              {% endif %}

                              {% endif %}

                              {% if usuario.roles == 'ROLE_ADMIN' or usuario.roles[0]  == 'ROLE_ADMIN'  %}
                                  <button type="button" class="{{ claseBtn }}">Admin </button>
                              {% elseif usuario.roles == 'ROLE_ALU' or usuario.roles[0]  == 'ROLE_ALU' %}
                                  <button type="button" class="btn btn-success btn-xs">{% trans %}Alumno{% endtrans %} </button>
                              {% elseif usuario.roles == 'ROLE_PROFE' or usuario.roles[0]  == 'ROLE_PROFE' %}
                                  <button type="button" class="btn btn-info btn-xs">{% trans %}Externo{% endtrans %} </button>
                              {% elseif usuario.roles == 'ROLE_PROFI' or usuario.roles[0]  == 'ROLE_PROFI' %}
                                  <button type="button" class="btn btn-warning btn-xs">{% trans %}Interno{% endtrans %}</button>
                              {% endif %#}
                          <a href="{{ path('mostrar_usuario', {'idUsuario': usuario.id})}}">
                            <button type="button" class="btn btn-link btn-xs"><!-- btn-danger  style="color: blue;"-->
                              <i class="fa fa-eye fa-lg" ></i>
                            </button>
                          </a>
                          <a href="{{ path('editar_usuario', {'idUsuario': usuario.id})}}">
                            <button type="button" class="btn btn-link btn-xs"><!-- btn-danger -->
                              <i class="fa fa-pencil fa-lg"></i>
                            </button>
                          </a>


                    {% if usuario.username !=  app.user.username  %}
                    <a href="#">
                      <button type="button" class="btn btn-link btn-xs eliminar" data-toggle="modal" data-target="#myModal" id="{{ usuario.id }}" name="{{ usuario.username }}">
                        <i class="fa fa-trash fa-lg" {#style="color: red;"#}></i>
                      </button>
                    </a>
                    {% else  %}

                      <button class="btn btn-link btn-xs "  >
                        <i class="fa fa-trash fa-lg" style="color: gray;"></i>
                      </button>

                      {% endif  %}
                            </div>
                          </div>
                        </div>
                      </div>

                    {% endfor %}


                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>



          {% set urlActual =  path(app.request.attributes.get('_route'),  app.request.attributes.get('_route_params'))  %}

              {% set urlActual = urlActual|split('/') %}
<!-- VENTANA MODAL -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><b>{% trans %}Eliminar usuario{% endtrans %}</b></h4>
      </div>
      <div class="modal-body">
        <div class="text-center"><h4>{% trans %}¿Esta seguro de eliminar el usuario?{% endtrans %}<br><strong>{% trans %}Eliminara todos sus datos y encuestas{% endtrans %}</strong></h4><div id="nombre"></div></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" id="cerrar">{% trans %}Cerrar{% endtrans %}</button>

        <a id="enlace_eliminar" href="/admin/{{ urlActual[2] }}/eliminar/usuario/">
          <button type="submit" class="btn btn-primary" name="aceptar" id="aceptar" >{% trans %}Aceptar{% endtrans %}</button>
        </a>
      </div>
    </div>
  </div>
</div>
<!-- /VENTANA MODAL -->
        <!-- /page content -->
        {% endblock %}


{% block javascripts %}
  {{ parent() }}
<script>

  $( document ).ready(function() {
    $(".eliminar").on('click', function() {
      $("#nombre").html($(this).attr("name"));
      var hrf = $("#enlace_eliminar").attr("href").split("/");
      var url = "/admin/"+hrf[2]+"/eliminar/usuario/"+$(this).attr("id");
      $("#enlace_eliminar").attr("href",url);
    });
  });

 $(window).on('load',function(){
     $(".loader").fadeOut( "slow" );
});

</script>
{% endblock %}