{% extends 'base_menu.html.twig' %}
{% block title %} {% trans %}Mostrar usuario{% endtrans %}{% endblock %}
{% block head %}
  {{ parent() }}
<style>
.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url("{{ asset('imagenes/loading.gif') }}") 50% 50% no-repeat rgb(249,249,249);
    opacity: .8;
}
</style>
{% endblock %}
{% block pageContent %}
        <!-- page content -->
        <div class="loader"></div>
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>{% trans %}Perfil usuario{% endtrans %}</h3>
              </div>

              {% if app.user.roles[0]  == 'ROLE_ADMIN' %}
                <form action="{{ path('buscar_general')}}">
                  <div class="title_right">
                    <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                      <div class="input-group">

                          <input type="text" name="busqueda" class="form-control" placeholder="{% trans %}Buscar por{% endtrans %}...">
                          <span class="input-group-btn">
                            <button class="btn btn-default" type="submit" >{% trans %}Buscar{% endtrans %}</button>
                          </span>

                      </div>
                    </div>
                  </div>
                </form>
              {% endif %}
            </div>

            <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>{% trans %}Datos usuario{% endtrans %} <small>{{ usuario.nombre }}  {{ usuario.apellidos }}</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <div class="col-md-3 col-sm-3 col-xs-12 profile_left">
                      <div class="profile_img">
                        <div id="crop-avatar">
                          <!-- Current avatar -->
                          <img class="img-responsive avatar-view" src="{{ asset('imagenes/avatares/'~usuario.avatar~'') }}" alt="Avatar" title="{% trans %}Cambiar avatar{% endtrans %}" >
                        </div>
                      </div>
                    {#  <div class="text-center">
                        <form>
                          <div class="form-group">
                            <label for="exampleFormControlFile1">Avatar</label>
                            <input type="file" class="form-control-file" id="exampleFormControlFile1">
                          </div>
                        </form>
                      </div>#}
                      <h3>{{ usuario.nombre }}  {{ usuario.apellidos }}</h3>

                      <ul class="list-unstyled user_data">
                        <li><i class="fa fa-user"></i> &nbsp;{{ usuario.username }}
                        <li><i class="fa fa-calendar user-profile-icon"></i> &nbsp;{{ usuario.fechaAlta }}
                        </li>

                        <li>
                          <i class="fa fa-info-circle user-profile-icon"></i> &nbsp;{{ usuario.roles|trans }}
                        </li>
{#
                              {% if  usuario.codigor is defined %}
                                    <p><strong>{{ usuario.codigo }}: </strong> {{ usuario.titulacion }} </p>
                              {% endif %}
  #}
                        <li class="m-top-xs">
                          <i class="fa fa-phone user-profile-icon"></i>
                          &nbsp;{{ usuario.telefono }}
                        </li>
                      </ul>

                      <a href="{{ path('editar_usuario', {'idUsuario': usuario.id })}}" class="btn btn-success"><i class="fa fa-edit m-right-xs"></i>{% trans %}Editar usuario{% endtrans %}</a>
                      <br />

 {#                     <!-- start skills -->
                      <h4>Skills</h4>
                      <ul class="list-unstyled user_data">
                        <li>
                          <p>Web Applications</p>
                          <div class="progress progress_sm">
                            <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="50"></div>
                          </div>
                        </li>
                        <li>
                          <p>Website Design</p>
                          <div class="progress progress_sm">
                            <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="70"></div>
                          </div>
                        </li>
                        <li>
                          <p>Automation & Testing</p>
                          <div class="progress progress_sm">
                            <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="30"></div>
                          </div>
                        </li>
                        <li>
                          <p>UI / UX</p>
                          <div class="progress progress_sm">
                            <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="50"></div>
                          </div>
                        </li>
                      </ul>
                      <!-- end of skills -->
#}
                    </div>
                    <div class="col-md-9 col-sm-9 col-xs-12">

                      <div class="profile_title">
                        <div class="col-md-12">
                          <h2>
                            {% trans %}Resutados obtenidos{% endtrans %}
                            {% if encResultados == 1 %}
                                  ///  {% trans %}Sin datos{% endtrans %}
                              {%  endif %}
                            </h2>
                        </div>
   {#                     <div class="col-md-4">
                          <div id="reportrange" class="pull-right" style="margin-top: 5px; background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #E6E9ED">
                            <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                            <span>December 30, 2014 - January 28, 2015</span> <b class="caret"></b>
                          </div>

                        </div>#}
                      </div>
                      <!-- start of user-activity-graph -->
                      <div id="graph_bar" style="width:100%; height:280px;"></div>
                      <!-- end of user-activity-graph -->
{#{ dump(encResultados) }}
{% set myArray = [] %}
          {% for encResultado in encResultados %}
                {% for er in encResultado %}
                    {% set clave = er.pregunta.id %}
                    {{ clave }}
                    {% set myArray = {'clave' : 1} %}
                {% endfor %}
          {% endfor %}

{{ dump(myArray) }#}

                      <div class="" role="tabpanel" data-example-id="togglable-tabs">
                        <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">

                          {% set cnt, active = 0, 'active' %}
                            {#{ dump(encResultados) }#}
                          {% for encResultado in encResultados %}

                                <li role="presentation" class="{{active}}">
                                    <a href="#tab_content{{cnt+1}}" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">{{ encResultado[cnt].encuesta.usuario.nombre }} {{ encResultado[cnt].encuesta.usuario.apellidos }}</a>
                                </li>
                                {% set cnt , active = cnt+1, '' %}
                          {% endfor %}

                        </ul>

                          <div id="myTabContent" class="tab-content">

                          {% set cnt, active = 0, 'active in' %}
                          {% for encResultado in encResultados %}
                            {% set cnt = cnt+1 %}
                              <div role="tabpanel" class="tab-pane fade {{active}}" id="tab_content{{cnt}}" aria-labelledby="home-tab">


                            <!-- start recent activity -->
                            <ul class="messages">
                              {% set cntp = 0 %}
                              {% for resultado in encResultado %}
                                  {% set cntp = cntp+1 %}
                                  <li>
                                    <img src="{{ asset('imagenes/avatares/'~resultado.encuesta.usuario.avatar~'') }}" class="avatar" alt="Avatar">
                                   {# <img src="{{ asset('uploads/'~empresa.logo~'')}}" alt="{{ empresa.logo }}" max-width="60" height="50">#}
                                    <div class="message_date">
                                      <h3 class="date text-info">
                                        {% if resultado.resultado.valor is defined %}
                                            {{ resultado.resultado.valor }}&nbsp;<span class="fa fa-star"></span>
                                        {% else %}
                                            {% trans %}Sin datos{% endtrans %}
                                          {% endif %}

                                      </h3>
                                    </div>


                                    {% set urlActual =  path(app.request.attributes.get('_route'),  app.request.attributes.get('_route_params'))  %}
                                    {% set urlActual = urlActual|split('/') %}

                                    <div class="message_wrapper">
                                      <h4 class="heading">{% trans %}Pregunta{% endtrans %} {{ cntp }}</h4>
                                      {% if urlActual[2] == 'es' %}
                                      <blockquote class="message">{{ resultado.pregunta.descripcion }}</blockquote>
                                      {% elseif urlActual[2] == 'en' %}
                                      <blockquote class="message">{{ resultado.pregunta.descripcioningles }}</blockquote>
                                      {% endif %}
                                      <br />
                                    </div>
                                  </li>
                                  {% set active = '' %}
                              {% endfor %}
                            </ul>
                            <!-- end recent activity -->

                              </div>
                          {% set cntp , active = cntp+1, '' %}
                          {% endfor %}

                        </div>



                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /page content -->
{% endblock %}

{% block javascripts %}
  {{ parent() }}
<script>
      function init_morris_charts() {

      if( typeof (Morris) === 'undefined'){ return; }
      console.log('init_morris_charts');

      if ($('#graph_bar').length){

        Morris.Bar({
          element: 'graph_bar',
          data: [

          {% set cnt = 1 %}
          {% for media in medias %}
               {pregunta: '{% trans %}P{% endtrans %}{{cnt}}', Resultado: {{ media }} },
              {% set cnt = cnt+1 %}
          {% endfor %}

          ],
          xkey: 'pregunta',
          ykeys: ['Resultado'],
          ymax: 5,
          ymin: 0,
          labels: ['{% trans %}Media{% endtrans %}'],
          barRatio: 0.4,
          barColors: ['#26B99A', '#34495E', '#ACADAC', '#3498DB'],
          xLabelAngle: 35,
          hideHover: 'auto',
          resize: true
        });

      }


    };

   $(window).on('load',function(){
     $(".loader").fadeOut( "slow" );
  });
</script>

{% endblock %}


