{% extends 'base_menu.html.twig' %}


{% block title %}{% trans %}Crear{% endtrans %} {% trans %}Encuesta{% endtrans %}{% endblock %}
{% block head %}
  {{ parent() }}
<style>
.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url("{{ asset('imagenes/loading.gif') }}") 50% 50% no-repeat rgb(249,249,249);
    opacity: .8;
}
</style>
{% endblock %}
{% block pageContent %}
<div class="loader"></div>
        <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>{% trans %}Crear{% endtrans %} {% trans %}Encuesta{% endtrans %}</h3>
              </div>

                <form action="{{ path('buscar_general')}}">
                  <div class="title_right">
                    <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                      <div class="input-group">

                          <input type="text" name="busqueda" class="form-control" placeholder="{% trans %}Buscar por{% endtrans %}...">
                          <span class="input-group-btn">
                            <button class="btn btn-default" type="submit" >{% trans %}Buscar{% endtrans %}</button>
                          </span>

                      </div>
                    </div>
                  </div>
                </form>
            </div>
            <div class="clearfix"></div>
              {% block mensajes %}
              {{ parent() }}
              {% endblock %}
{# inicio del formulario  #}
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>{% trans %}Formulario {% endtrans %} <small>{% trans %}Nueva{% endtrans %}  {% trans %}Encuesta{% endtrans %}</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <!-- Opciones superior derecha-->
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
<!-- <form class="form-horizontal form-label-left" novalidate>  -->
					{#{ form_start(form, { 'enctype':"multipart/form-data",  'attr' : {'role' : 'form', 'class': 'form-label-left',novalidate: 'novalidate'} }) }#}
					{{ form_start(form, { 'enctype':"multipart/form-data",  'attr' : {'role' : 'form'} }) }}
{#
						<div class="form-group">
							{{ form_label(form.titulacion)}}
							 {{ form_widget(form.titulacion, { 'attr': {'class': 'form-control'} }) }}
							<span class="text-danger">{{ form_errors(form.titulacion)}}</span>
						</div>
						<div class="form-group ">
							{{ form_label(form.usuario)}}
							 {{ form_widget(form.usuario, { 'attr': {'class': 'form-control'} }) }}
							<span class="text-danger">{{ form_errors(form.usuario)}}</span>
						</div>
						<div class="form-group">
							{{ form_label(form.evaluado)}}
							 {{ form_widget(form.evaluado, { 'attr': {'class': 'form-control'} }) }}
							<span class="text-danger">{{ form_errors(form.evaluado)}}</span>
						</div>
#}

                                        <div class="form-group">
                                            <label for="Titulacion">{% trans %}Titulacion{% endtrans %}</label>
                                                      <select name="titulacion"  class="form-control select2"  style="width: 100%;" required="">
                                                        <option></option>
                                                          {% for titulacion in titulacionesActivas %}
                                                              <option value="{{titulacion.id}}">{{ titulacion.nombre }}</option>
                                                          {% endfor %}
                                                      </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="Titulacion">{% trans %}usuario.usuario{% endtrans %}</label>
                                                      <select name="usuario"  class="form-control select2"  style="width: 100%;" required="">
                                                        <option></option>
                                                          {% for usuario in usuariosActivos %}
                                                              <option value="{{usuario.id}}">{{ usuario.nombre }} {{ usuario.apellidos }}  //  {{ usuario.roles }}</option>
                                                          {% endfor %}
                                                      </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="Titulacion">{% trans %}usuario.evaluado{% endtrans %}</label>
                                                      <select name="evaluado"  class="form-control select2"  style="width: 100%;" required="">
                                                        <option></option>
                                                          {% for evaluado in usuariosActivos %}
                                                              <option value="{{evaluado.id}}">{{ evaluado.nombre }} {{ evaluado.apellidos }}  //  {{ evaluado.roles}}</option>
                                                          {% endfor %}
                                                      </select>
                                        </div>
                      <div class="ln_solid"></div>
					<!--  Aceptar y Reset en la misma línea  -->
					<div class="btn-toolbar" role="toolbar">
					  <div class="btn-group">
						<div class="btn pull-right">
							 {{ form_widget(form.reset)}}
							<span class="text-danger">{{ form_errors(form)}}</span>
						</div>
					  </div>
						<div class="btn pull-left">
							 {{ form_widget(form.aceptar)}}
							<span class="text-danger">{{ form_errors(form)}}</span>
						</div>
					</div><!-- # FIN Aceptar y Reset -->
						{{ form_end(form) }}

                  </div>
                </div>
              </div>
            </div>
{# fin del formulario #}
{# inicio de la tabla  #}
          <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>{% trans %}Tabla {% endtrans %} <small>{% trans %}Encuestas{% endtrans %} </small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <!-- Opciones superior derecha-->
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">

                <table id="tabla_datatable" class="display responsive nowrap" cellspacing="0" width="100%">
                <thead>
                <tr>
                  <th>{% trans %}Titulacion{% endtrans %}</th>
                  <th>{% trans %}usuario.usuario{% endtrans %}</th>
                  <th>{% trans %}usuario.evaluado{% endtrans %}</th>
                  <th>{% trans %}Completada{% endtrans %}</th>
                  <th>{% trans %}Opciones{% endtrans %}</th>
                </tr>
                </thead>
                <tbody>
                {% for encuesta in encuestas %}

                  <tr>
                        <td>{{ encuesta.titulacion }}</td>
                        <td>{{ encuesta.nombre_usuario }} {{ encuesta.apellidos }}</td>
                        <td>{{ encuesta.naevaluado }}</td>
                        <td class="text-center">{{ encuesta.completada }}</td>
                    <td>
                      <div class="text-center">

                              <a href="{{ path('crear_encuesta')}}">
                                <button type="button" class="btn btn-link btn-xs crear">
                                  <i class="fa fa-plus fa-2x" style="color: orange;"></i>
                                </button>
                              </a>
{#
                              <a href="{{ path('editar_encuesta', {'idEncuesta': encuesta.id})}}">
                                <button type="button" class="btn btn-link btn-xs editar" id="aa">
                                  <i class="fa fa-pencil fa-2x" style="color: green;"></i>
                                </button>
                              </a>
#}
                              <a href="#">
                                <button type="button" class="btn btn-link btn-xs eliminar" data-toggle="modal" data-target="#myModal" id="{{ encuesta.id }}" name="{{ encuesta.nombre_usuario }} {{encuesta.apellidos}}  <b>{% trans %}Sobre{% endtrans %}</b>  {{ encuesta.naevaluado }}">
                                  <i class="fa fa-trash fa-2x" style="color: red;"></i>
                                </button>
                              </a>

                      </div>

                    </td>
                </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                  <th>{% trans %}Titulacion{% endtrans %}</th>
                  <th>{% trans %}usuario.usuario{% endtrans %}</th>
                  <th>{% trans %}usuario.evaluado{% endtrans %}</th>
                  <th>{% trans %}Completada{% endtrans %}</th>
                  <th>{% trans %}Opciones{% endtrans %}</th>
                </tr>
                </tfoot>
              </table>

                  </div>
                </div>
              </div>
            </div>
{# fin de la tabla#}

          </div>
        </div>
        <!-- page content -->
      {% set urlActual =  path(app.request.attributes.get('_route'),  app.request.attributes.get('_route_params'))  %}
      {% set urlActual = urlActual|split('/') %}
<!-- VENTANA MODAL -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><b>{% trans %}Eliminar{% endtrans %} {% trans %} Encuesta{% endtrans %}</b></h4>
      </div>
      <div class="modal-body">
        <div class="text-center"><h4>{% trans %}mensaje.encuesta{% endtrans %}</h4><div id="nombre"></div></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" id="cerrar">
          {% trans %}Cerrar{% endtrans %}</button>

        <a id="enlace_eliminar" href="/admin/{{ urlActual[2] }}/eliminar/encuesta/">
          <button type="submit" class="btn btn-primary" name="aceptar" id="aceptar" >
            {% trans %}Aceptar{% endtrans %}
          </button>
        </a>
      </div>
    </div>
  </div>
</div>
<!-- /VENTANA MODAL -->
{% endblock %}

{% block javascripts %}
    {{ parent() }}

 {% if app.request.getLocale() == 'es' %}
      <script>var url = "{{ asset('template/build/mi_datatable/traduciones_datatables/Spanish.json') }}";</script>
  {% elseif app.request.getLocale() == 'en' %}
      <script>var url = "{{ asset('template/build/mi_datatable/traduciones_datatables/English.json') }}";</script>
  {% else %}
      <script>var url = "{{ asset('template/build/mi_datatable/traduciones_datatables/Spanish.json') }}";</script>
  {% endif %}

<script>
$(document).ready(function() {
    $('#tabla_datatable').DataTable( {
      stateSave: true,
      "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
        "language": {
     //       "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
             "url": url
        }
    } );
} );

  $( document ).ready(function() {
    $(".eliminar").on('click', function() {
      $("#nombre").html($(this).attr("name"));
      var hrf = $("#enlace_eliminar").attr("href").split("/");
      var url = "/admin/"+hrf[2]+"/eliminar/encuesta/"+$(this).attr("id");
      $("#enlace_eliminar").attr("href",url);
    });
  });

   $(window).on('load',function(){
     $(".loader").fadeOut( "slow" );
  });
</script>

{% endblock %}
