{% extends 'base_menu.html.twig' %}


{% block title %}{% trans %}Mostrar{% endtrans %} {% trans %}Encuesta{% endtrans %}{% endblock %}

{% block pageContent %}

       <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>{% trans %}Encuestas{% endtrans %} <small>{% trans %}lista.enc.asig{% endtrans %}</small></h3>
              </div>

              {% if app.user.roles[0]  == 'ROLE_ADMIN' %}
                <form action="{{ path('buscar_general')}}">
                  <div class="title_right">
                    <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                      <div class="input-group">
                          <input type="text" name="busqueda" class="form-control" placeholder="{% trans %}Buscar por{% endtrans %}...">
                          <span class="input-group-btn">
                            <button class="btn btn-default" type="submit" >{% trans %}Buscar{% endtrans %}</button>
                          </span>
                      </div>
                    </div>
                  </div>
                </form>
              {% endif %}
            </div>

            <div class="clearfix"></div>
              {% block mensajes %}
              {{ parent() }}
              {% endblock %}

            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>{% trans %}Encuestas{% endtrans %}</h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">

               {#     <p>Simple table with project listing with progress and editing options</p>  #}

                    <!-- start project list -->
                    <table class="table table-striped projects table-responsive">
                      <thead>
                        <tr>
                          <th style="width: 5%">#</th>
                          <th style="width: 20%">{% trans %}Nombre{% endtrans %}</th>
                          <th>{% trans %}Apellidos{% endtrans %}</th>
                          <th>{% trans %}Titulacion{% endtrans %}</th>
                          <th>{% trans %}Rol{% endtrans %}</th>
                          <th style="width: 20%">{% trans %}Estado{% endtrans %}</th>
                        </tr>
                      </thead>
                      <tbody>

                        {% if sinEncuestas is not defined %}
                         {% for encuesta in encuestasAsignadas %}
                                <tr>
                                  <td>
                                        <div class="text-center">
                                             {# <img src="{{ asset('uploads/'~empresa.logo~'')}}" alt="{{ empresa.logo }}" max-width="60" height="50">#}
                                        </div>
                                </td>

                                  <td>
                                      {{ encuesta.evaluado.nombre }}
                                    <br />
                                    <small>Created 01.01.2015</small>
                                  </td>
                                  <td>
                                        {{ encuesta.evaluado.apellidos }}

                                  <td>
                                        {{ encuesta.titulacion.nombre }}
                                  </td>
                                  </td>
                                  <td>
                                        {{ encuesta.evaluado.roles[0] }}
                                  </td>
                                  <td>
                                      {% if encuesta.completada == 'NO' %}
                                      <a href="{{ path('realizar_encuesta' , {'idEncuesta': encuesta.id})}}" class="btn btn-success btn-xs" role="button"><i class="fa fa-pencil"> </i>&nbsp;&nbsp;{% trans %}  Completar{% endtrans %}</a>
                                    {% elseif encuesta.completada == 'SI'%}
                                      <i class="fa fa-check fa-2x" style="color:green"> </i>{#&nbsp;&nbsp;{% trans %}  Completada{% endtrans %}#}
                                      {% endif %}
                                  </td>
                                 {# <td>
                                    <a href="#" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> View </a>
                                    <a href="#" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Edit </a>
                                    <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Delete </a>
                                  </td>#}
                                </tr>

                         {% endfor %}

                       {% else  %}
                        <tr><td colspan="7"><div class="text-center"><h1>{% trans %}Sin encuestas{% endtrans %}</h1></div></td></tr>

                       {% endif %}
                      </tbody>
                    </table>
                    <!-- end project list -->

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /page content -->


{% endblock %}

